<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>n92ap</string>
			<key>CPID</key>
			<integer>35120</integer>
			<key>Platform</key>
			<string>s5l8930x</string>
			<key>SCEP</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>FirmwareDirectory</key>
	<string>Firmware</string>
	<key>KernelCachesByPlatform</key>
	<dict/>
	<key>KernelCachesByTarget</key>
	<dict>
		<key>n92</key>
		<dict>
			<key>Release</key>
			<string>kernelcache.release.n92</string>
		</dict>
	</dict>
	<key>MinimumSystemPartition</key>
	<dict>
		<key>058-4110-009.dmg</key>
		<integer>1522</integer>
	</dict>
	<key>ProductBuildVersion</key>
	<string>11D257</string>
	<key>ProductType</key>
	<string>iPhone3,3</string>
	<key>ProductVersion</key>
	<string>7.1.3</string>
	<key>RamDisksByPlatform</key>
	<dict>
		<key>s5l8930x</key>
		<dict>
			<key>User</key>
			<string>058-4107-013.dmg</string>
		</dict>
	</dict>
	<key>RestoreRamDisks</key>
	<dict>
		<key>User</key>
		<string>058-4107-013.dmg</string>
	</dict>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698416</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698416</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,3</string>
	</array>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>n92</key>
		<dict>
			<key>128</key>
			<integer>1280</integer>
			<key>16</key>
			<integer>160</integer>
			<key>32</key>
			<integer>320</integer>
			<key>64</key>
			<integer>640</integer>
			<key>8</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>SystemRestoreImages</key>
	<dict>
		<key>User</key>
		<string>058-4110-009.dmg</string>
	</dict>
</dict>
</plist>
